TASK 1. Data Analysis with Pandas: </br>
Use the Pandas library to load a CSV file and perform basic data analysis </br>
tasks (e.g., finding the average of a column).

In [1]:
# Importing Pandas for the Data analysis.
import pandas as pd

In [2]:
# Loading the dataset using Pandas 
data = pd.read_csv('imdb_top_1000.csv') 
data.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,Crime Drama,9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,Action Crime Drama,9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,Crime Drama,9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,Crime Drama,9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0

In [3]:
# Checking the shape of the Dataset
data.shape

(1000, 16)

In [4]:
# Checking the size of the Dataset.
data.size

16000

Checking Data Types

In [5]:
data.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross            float64
dtype: object

####  Checking Data Consistency

In [6]:
data.describe()

       IMDB_Rating  Meta_score   No_of_Votes         Gross
count  1000.000000  843.000000  1.000000e+03  8.310000e+02
mean      7.949300   77.971530  2.736929e+05  6.803475e+07
std       0.275491   12.376099  3.273727e+05  1.097500e+08
min       7.600000   28.000000  2.508800e+04  1.305000e+03
25%       7.700000   70.000000  5.552625e+04  3.253559e+06
50%       7.900000   79.000000  1.385485e+05  2.353089e+07
75%       8.100000   87.000000  3.741612e+05  8.075089e+07
max       9.300000  100.000000  2.343110e+06  9.366622e+08

### Data Preprocessing Steps

In [7]:
data.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

#### Separating Numerical and Catgorical Columns

In [8]:
cat_cols = data.dtypes[data.dtypes=='object'].index
num_cols = data.dtypes[data.dtypes!='object'].index
print(cat_cols)
print(num_cols)

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'Overview', 'Director', 'Star1', 'Star2', 'Star3',
       'Star4'],
      dtype='object')
Index(['IMDB_Rating', 'Meta_score', 'No_of_Votes', 'Gross'], dtype='object')

#### Checking Null values

In [9]:
data.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

#### Checking for Duplicate values

In [10]:
data.duplicated().sum()

np.int64(0)

#### Dropping columns which are least required for data analysis

In [11]:
data.drop(['Poster_Link'],axis = 1, inplace = True)

In [12]:
data.shape

(1000, 15)

In [13]:
# Finding the average IMDB ratings
average_rating = data['IMDB_Rating'].mean()
print("Average IMDB Rating:", average_rating)

Average IMDB Rating: 7.949299999999999

In [14]:
# Finding the average Meta score
average_score = data['Meta_score'].mean()
print("Average Meta Score:", average_score)

Average Meta Score: 77.97153024911032

In [15]:
# Finding the average No. of votes
average_votes = data['No_of_Votes'].mean()
print("Average Votes:", average_votes)

Average Votes: 273692.911

In [16]:
average_Gross = data['Gross'].mean()
print("average of Gross earning:" ,average_Gross)

average of Gross earning: 68034750.87364621

In [17]:
# Finding the average IMDB rating by Director
grouped_df = data.groupby(['Director'])['IMDB_Rating'].mean()
print(grouped_df)

Director
Aamir Khan             8.40
Aaron Sorkin           7.80
Abdellatif Kechiche    7.70
Abhishek Chaubey       7.80
Abhishek Kapoor        7.70
                       ...
Zack Snyder            7.60
Zaza Urushadze         8.20
Zoya Akhtar            8.05
Çagan Irmak            8.30
Ömer Faruk Sorak       8.00
Name: IMDB_Rating, Length: 548, dtype: float64

In [18]:
# Finding the average of Gross earning by year.
grouped_df = data.groupby(['Released_Year'])['Gross'].mean()
print(grouped_df)

Released_Year
1920            NaN
1921      5450000.0
1922            NaN
1924       977375.0
1925      2750485.0
           ...
2017    103065642.6
2018    186268383.0
2019    150421418.0
2020            NaN
PG      173837933.0
Name: Gross, Length: 100, dtype: float64